/* custom styles */
 #page-wrapper h1 {
   font-family: 'PT Sans Narrow', sans-serif;
   font-size: 50px;
   margin-bottom: 0;
 }
#page-wrapper h2 {
  font-family: 'Droid Sans', sans-serif;
  margin-top: 5px;
}
img {
  border-radius: 50%;
  border: 4px dot silver;
}
#page-wrapper {
  margin: absolute;
  text-align: center;
  letter-spacing: 1.5px;
  text-shadow: silver -1px -1px;
  text-transform: uppercase;
}
